

<div [ngSwitch]="day">

  <div *ngSwitchCase="0">Today is Sunday! You deserve a break</div>
      
  <div *ngSwitchCase="1"><i><h3>Today is Monday, Hope you have a productive Week</h3></i></div>

  <div *ngSwitchCase="2"><i><h3>Today is Tuesday, Smash your Goals</h3></i></div>

  <div *ngSwitchCase="3"><i><h3>Today is Wednesday, You're already halfway through</h3></i></div>

  <div *ngSwitchCase="4"><i><h3>Today is Thursday, It's like Friday Lite</h3></i></div>

  <div *ngSwitchCase="5"><i><h3>Today is Friday, TGIF!!!</h3></i></div>

  <div *ngSwitchCase="6"><i><h3>Today is Saturday, Let's Party!! :) </h3></i></div>

  <div *ngSwitchCase="">Uh oh! Something's wrong</div>


</div>
   

      
      